@import '../theme.scss';

.role-container {
    min-height: 100%;
    padding: 16px 24px;
    background: $white;
    color: $dark;

    .table-box {
        margin-top: 16px;
    }

    .editBtn {
        cursor: pointer;
        color: $blue;

        &:hover {
            color: $light-blue;
        }
    }
}