@import '../theme.scss';

.tenantM-container {
    min-height: 100%;
    padding: 16px 24px;
    background: $white;
    color: $dark;

    .table-box {
        margin-top: 16px;
    }

    .logo{
        width: 60px;
        height: 60px;
        display: block;
        border-radius: 4px;
    }

}

.tenantM-modal{
    padding: 0 24px;
    label{
        margin-bottom: 0;
    }
}
